<a href="https://colab.research.google.com/github/Vergaraagustin/DataScience/blob/main/Data_wrangling_Vergara.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Carga de API de Kaggle.

In [2]:
!rm -rf /root/.kaggle.

In [3]:
api_token = {"username":"agustinvergara",
             "key":"72856697dc569bf41ba007e185fe3cc2"}

In [4]:
!mkdir /root/.kaggle

In [5]:
import json
with open('/root/.kaggle/kaggle.json', 'w') as file:
  json.dump(api_token,file)

In [6]:
!kaggle datasets download -d rikdifos/credit-card-approval-prediction

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Downloading credit-card-approval-prediction.zip to /content
 75% 4.00M/5.32M [00:00<00:00, 6.38MB/s]
100% 5.32M/5.32M [00:00<00:00, 5.88MB/s]

In [7]:
import zipfile

archivo_zip = '/content/credit-card-approval-prediction.zip'


with zipfile.ZipFile(archivo_zip, 'r') as zip_file:
  for nombre_archivo in zip_file.namelist():
    print(nombre_archivo)

application_record.csv
credit_record.csv

In [8]:
import pandas as pd

nombre_archivo_csv = 'application_record.csv'

with zipfile.ZipFile(archivo_zip, 'r') as zip_file:
  with zip_file.open(nombre_archivo_csv) as archivo_csv:
    df_app = pd.read_csv(archivo_csv)

In [9]:
df_app.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0

##Limpieza

In [10]:
df_app.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438557 entries, 0 to 438556
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ID                   438557 non-null  int64
 1   CODE_GENDER          438557 non-null  object
 2   FLAG_OWN_CAR         438557 non-null  object
 3   FLAG_OWN_REALTY      438557 non-null  object
 4   CNT_CHILDREN         438557 non-null  int64
 5   AMT_INCOME_TOTAL     438557 non-null  float64
 6   NAME_INCOME_TYPE     438557 non-null  object
 7   NAME_EDUCATION_TYPE  438557 non-null  object
 8   NAME_FAMILY_STATUS   438557 non-null  object
 9   NAME_HOUSING_TYPE    438557 non-null  object
 10  DAYS_BIRTH           438557 non-null  int64
 11  DAYS_EMPLOYED        438557 non-null  int64
 12  FLAG_MOBIL           438557 non-null  int64
 13  FLAG_WORK_PHONE      438557 non-null  int64
 14  FLAG_PHONE           438557 non-null  int64
 15  FLAG_EMAIL           438557 non-null  int64
 16  OCCUPATION_TYPE      304354 non-null  object
 17  CNT_FAM_MEMBERS      438557 non-null  float64
dtypes: float64(2), int64(8), object(8)
memory usage: 60.2+ MB

In [19]:
df_app = df_app.drop(['DAYS_BIRTH', 'FLAG_PHONE', 'FLAG_WORK_PHONE'], axis=1)

##Reportes:

In [37]:
# Maximo ingreso de cada tipo de trabajo.
agrupado = df_app.groupby('NAME_INCOME_TYPE')['AMT_INCOME_TOTAL'].max().sort_values( ascending=False)
print(agrupado)

NAME_INCOME_TYPE
Working                 6750000.0
Commercial associate    3950059.5
State servant           3150000.0
Pensioner               1260000.0
Student                  225000.0
Name: AMT_INCOME_TOTAL, dtype: float64

In [42]:
#Cantidad de dias sin trabajar de cada tipo de trabajo.
df_app.groupby('NAME_INCOME_TYPE')['DAYS_EMPLOYED'].max().sort_values( ascending=False)

NAME_INCOME_TYPE
Pensioner               365243
Commercial associate       -12
Working                    -12
State servant              -16
Student                   -382
Name: DAYS_EMPLOYED, dtype: int64